body {
    background-color: #134a71;
    margin: 0;
    height: auto;
    width: auto;
    overflow: hidden;

}

#cabecario {
    background-color: #16537ed8;
    height:  110px;
    width: 100%;
    opacity: 10;
    position: absolute;
    z-index: 400;
  
}


#usuario{
margin-left: 95%;
margin-top: 29px;
position: absolute;


}
#top{
height:38px;
background-color:  #082d47d8;
padding-top: 1px;
}

h6{
    color: white;
    font-size: 20px;
    display: inline;
}

h1 {
    font-family: 'Helvetica';
    text-align: right;
    padding-top: 1px;
    padding-right: 2px;

}
h2 {
    font-family: 'Helvetica';
    font-size: 20px;
    color: gray;
    text-align: center;
    
    
}

#pic0{
    
    margin-left: 43%;
    margin-top: -6px;
    position: absolute;
   
}

#app{
    text-align: center;
    size: 3cm;
    padding-top: 45px;
    padding-bottom: 1px;
    z-index: 300;
    top: 80%;
    left: 42%;
    position: absolute;
}

input{
    width: 300px;
    height: 80px;
    border-radius: 10px;
    top: 90%;
}

mark{
    background-color: #5ca3d9;
    border-radius: 5px;
    height: 20px;
    width: 20px;
}

#taskContainer{
overflow:scroll;
overflow-x: hidden;
font-size: 20px;
font-family: 'Helvetica';
background-color: #052a46;
margin-left: 34%;
text-align: center;
margin-top: 214px;
border-radius: 10px;
height: 670px;
width: 670px;
z-index: 300;
position: absolute;

}
::-webkit-scrollbar{
    width: 8px;
 
}

::-webkit-scrollbar-corner{
    width: 8px;
    
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #5ca3d9;
    max-height: 5px;
    
}



::-webkit-scrollbar-button{
    background: #052a46;
    height: 1px;
}


#taskContainer::-webkit-scrollbar-button{
    background-color: #134a71;
    
}

task_text{
    top: 2px;
    padding-top: 0px;
    margin-top: -10px;
    z-index: 300;
}

:root{
    --color-message: #ff0000;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.message-model{
    padding: 8px 80px;
    background: var(--color-message);
    border-radius: 8px;
    text-align: center;
    color: rgb(226, 226, 226);

    display: inline;
    font-size: 14px;

    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 300;
    bottom: 60px;
}
#rodape {
    width: 100%;
    position:fixed ;
    background-color: white;
    bottom: 0;
    
    
}



#pic2{
    position: absolute;
   top: 35%;
    margin-left: 75%;
}

#pic3{
    top: 64%;
    margin-left: 125px;
    position: absolute;
}

#pic4{
    position: absolute;
   top: 43%;
    margin-left: 94%;
}

#pic5{
    top: 48%;
    margin-left: 26%;
    position: absolute;
    
}

#pic6{
    top: 68%;
    margin-left: 72%;
    position: absolute;
}

#pic7{
    position: absolute;
   top: 79%;
    margin-left: 90%;
}

#pic8{
    position: absolute;
   top: 10%;
    margin-left: 89%;
}

#pic9{
    top: 25%;
    left: -1050px;
    position: absolute;
}

#pic10{
    align-self: center;
    margin-top: 3.3%;
    margin-left: 610px;
    z-index: -300;
    position: relative;
}


.sim{
    width: 15px;
    margin-top: -40px;
    top: 31px;
    left: 10px;
    position: relative;
}
