
body{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;
    margin: 0;
}

header, body, main, aside{
   background-color: #0700b8;
   display: flex;
   margin: 3px;
}

header{
    height: 100px;
    flex: 1 1 100vw;
}

header #logo{
    display: inline-flex;
    z-index: 10;
    flex: 0 1 90px;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    text-decoration: none;
    color: inherit;
    background-color: #0f0c59;
}

nav{
    justify-content: flex-end;
    align-items: center;
    flex: 1 1 200px;
    background-color: #0f0c59;
}

nav a{
    margin: 0 3%;
    font-size: 15pt;
    color: black;
    font-family: 'Fira Code', 'monospace';
}
a:before{
    content: " ";
    background-color: black;
    width: 20px;
    height: 10px;
    margin-right: 10px;
}

h1{
    margin-top: 30px;
    margin-left: 10px;
    text-align: left;
    z-index: 10;
    justify-content: center;
}

main{
    height: calc(100vh - 224px);
    flex: 20 1 500px;
}

.container1{
    width: 900px;
    margin-left: 20%;
}

.container1 h2{
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.539);
}
.container2{
    width: 400px;
    height: auto;
    justify-content: right;
    padding-right: 0;
    text-align: center;
}

.container3{
    width: 400px;
    height: auto;
    justify-content: right;
    padding-right: 0;
    text-align: center;
}

.container2 h2{
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.539);
}

.container3 h2{
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.539);
}

img{
    max-width: 100%;
    height: auto;
}

.container2 img{
    max-width: 100%;
    height: auto;
}

.container3 img{
    max-width: 100%;
    height: auto;
}

aside{
    display: inline;
    flex: 0 0 430px;
}



a{
    text-decoration: none;
   
}

nav{
    position: fixed;
    width: 100vw;
    height: 10%;
    align-items: center;
    text-align: right;
    display: flex;
}

h2{
    margin-top: 0;
}
