
.content_main {
    background-color: rgb(20, 116, 172);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 8px solid rgba(101, 192, 93, 0.692);
    margin: 25px;
    text-align: center;
    justify-content: center;
}
 
.content_main{
    text-align: center;
}


.content_main p{
    font-size: large;
}

